-server
-Xmx2G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/var/lib/trino/data/jvm-heap-dump.hprof
-Djdk.attach.allowAttachSelf=true
-Djdk.tls.client.protocols=TLSv1.2,TLSv1.3
-Djdk.tls.allowLegacyResumption=true
-Djdk.tls.acknowledgeCloseNotify=true
-Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true
-Djdk.tls.allowUnsafeServerCertificates=true
-Djavax.net.ssl.trustStore=/usr/lib/trino/certs/keystore.jks
-Djavax.net.ssl.trustStorePassword=changeit
-Dhttp-client.https.hostname-verification=false
-Djsse.enableSNIExtension=true
-Dhttps.cipherSuites=TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_GCM_SHA256
-Djdk.tls.disabledAlgorithms=SSLv3, RC4, DES, MD5withRSA, DH keySize < 1024